DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
VITE_SERVER_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BCRYPT_ROUNDS=
SMS_API_KEY=
SMS_USERNAME=
SMS_SENDERID=
MEMBER_PORTAL_URL=
AWS_REGION=eu-north-1
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
APP_ENV=