DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
VITE_SERVER_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BCRYPT_ROUNDS=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
SMS_API_KEY=
SMS_USERNAME=
SMS_SENDERID=
MPESA_ENV=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_DOMAIN=
NGROK_DOMAIN=
MPESA_CONFIRMATION_URL=
MPESA_VALIDATION_URL=
AWS_REGION=eu-north-1
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
APP_ENV=
